<div class="space-3"></div>
<div class="cui-col-xs32-12 cui-col-sm-10 cui-col-sm-offset-1 cui-col-lg-8 cui-col-lg-offset-2">
  <h2>規則</h2>
  <h3>五行相生：木>火>土>金>水</h3>
  <ol>
    <li>
      找出公司負責人命格缺甚麼五行，例如:命格火比較多，就必須在公司名稱總筆劃運勢為吉，五行為水，或者公司名字內找出五行為水的文字。
    </li>
    <li>
      公司名稱(主運)指「中華電信」，總運勢(從運)指「中華電信股份有限公司」，主運比重較大。
    </li>
    <li>
      公司名稱內的每個字筆劃，由左至右，盡量由小到大，就像蓋房子一樣，地基才會穩。
    </li>
    <li>
      公司名稱內的每個字五行，由左至右，盡量是五行相生。
    </li>
    <li>
      最後，事在<strong>「人」</strong>為，好名字只是讓您心情舒爽。
    </li>
  </ol>
</div>
