<app-menu></app-menu>
<div #headerSpace class="main-header-space">
</div>
<header #header class="main-header">
  <table>
    <tbody>
      <tr>
        <td align="left" nowrap="nowrap" width="1%" matTooltip="選單" (click)="openMenu()">
          <div class="flaticon-menu icon-button"></div>
        </td>
        <td align="left" nowrap="nowrap" width="100%">
          <div>{{Global.currentRouteName}}</div>
        </td>
        <td align="right" nowrap="nowrap">
        </td>
        <td align="right" nowrap="nowrap" width="1%">
        </td>
      </tr>
      <tr></tr>
    </tbody>
  </table>
</header>
