.profit {
  .money-green {
    color: #308a0b;
  }

  .money-red {
    color: #f50057;
  }

  tr {
    &.total {
      font-size: 130%;
      background-color: #d2f0ff;
    }

    &.subTotal {
      background-color: #d2f0ff;
    }
  }

  td {
    &.total {
      background-color: #344149;
      color: #fff;
    }

    &.subTotal {
      background-color: #59aff2;
      color: #fff;
    }
  }
}
