<div class="space-1"></div>
<div class="cui-row">
  <h3>參考姓名打分網址</h3>
  <ol>
    <li><a href="https://www.lnka.tw/app/analyzename.aspx" target="_blank">靈匣網姓名測驗打分</a></li>
    <li><a href="http://v.8s8s.com/xingmingceshi_2.php" target="_blank">姓名測試評分</a></li>
  </ol>
</div>
<div class="space-1"></div>
<div class="cui-field cui-col-xs32-6">
  <input type="text" required [(ngModel)]="firstName">
  <label>姓</label>
  <div class="message">兩字</div>
</div>
<div class="cui-field cui-col-xs32-6">
  <input type="text" required [(ngModel)]="lastName">
  <label>名</label>
  <div class="message">兩字</div>
</div>
<div class="cui-button-row center">
  <button class="cui-button" (click)="findFortunes()">看運勢</button>
</div>
<div class="space-1"></div>
<div class="cui-row">
  <ng-container *ngIf="firstNameWords">
    <ng-container *ngFor="let word of firstNameWords">
      <fieldset>
        <legend><strong>{{word.word}}</strong></legend>
        <strong>發音：</strong><span>{{word.sound}}</span>
        <br>
        <strong>筆劃：</strong><span>{{word.num}}</span>
        <br>
        <strong>五行：</strong><span>{{word.type}}</span>
        <br>
        <strong>譯釋：</strong><span>{{word.content}}</span>
      </fieldset>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="lastNameWords">
    <ng-container *ngFor="let word of lastNameWords">
      <fieldset>
        <legend><strong>{{word.word}}</strong></legend>
        <strong>發音：</strong><span>{{word.sound}}</span>
        <br>
        <strong>筆劃：</strong><span>{{word.num}}</span>
        <br>
        <strong>五行：</strong><span>{{word.type}}</span>
        <br>
        <strong>譯釋：</strong><span>{{word.content}}</span>
      </fieldset>
    </ng-container>
  </ng-container>
  <fieldset *ngIf="nameFortune[0]">
    <legend><strong>天：{{nameFortune[0].num}}劃、[{{nameFortune[0].luck}}]</strong></legend>
    <div [innerText]="nameFortune[0].content"></div>
  </fieldset>
  <fieldset *ngIf="nameFortune[1]">
    <legend><strong>人：{{nameFortune[1].num}}劃、[{{nameFortune[1].luck}}]</strong></legend>
    <div [innerText]="nameFortune[1].content"></div>
  </fieldset>
  <fieldset *ngIf="nameFortune[2]">
    <legend><strong>地：{{nameFortune[2].num}}劃、[{{nameFortune[2].luck}}]</strong></legend>
    <div [innerText]="nameFortune[2].content"></div>
  </fieldset>
  <fieldset *ngIf="nameFortune[3]">
    <legend><strong>外：{{nameFortune[3].num}}劃、[{{nameFortune[3].luck}}]</strong></legend>
    <div [innerText]="nameFortune[3].content"></div>
  </fieldset>
  <fieldset *ngIf="nameFortune[4]">
    <legend><strong>總：{{nameFortune[4].num}}劃、[{{nameFortune[4].luck}}]</strong></legend>
    <div [innerText]="nameFortune[4].content"></div>
  </fieldset>
  <fieldset *ngIf="currentFortune">
    <legend><strong>三才：{{currentFortune.type}}、[{{currentFortune.luck}}]</strong></legend>

    <fieldset *ngIf="currentFortuneBasic">
      <legend><strong>基礎運：{{currentFortuneBasic.type}}、[{{currentFortuneBasic.luck}}]</strong></legend>
      <div [innerText]="currentFortuneBasic.content"></div>
    </fieldset>
    <fieldset *ngIf="currentFortuneSuccess">
      <legend><strong>成功運：{{currentFortuneSuccess.type}}、[{{currentFortuneSuccess.luck}}]</strong></legend>
      <div [innerText]="currentFortuneSuccess.content"></div>
    </fieldset>
    <fieldset *ngIf="currentFortuneSociality">
      <legend><strong>社交運：{{currentFortuneSociality.type}}、[{{currentFortuneSociality.luck}}]</strong></legend>
      <div [innerText]="currentFortuneSociality.content"></div>
    </fieldset>
    <fieldset *ngIf="currentFortuneSick">
      <legend><strong>凶患數病原：</strong></legend>
      <div [innerText]="currentFortuneSick.content"></div>
    </fieldset>
    <div [innerText]="currentFortune.content"></div>
  </fieldset>
</div>
