<ng-template #dialog>
  <div class="cui-dialog">
    <div class="cui-dialog-window {{_windowClassName}}" [style.width]="width?width:''" [style.height]="height?height:''">
      <div class="close flaticon-close" (click)="close()"></div>
      <div class="cui-dialog-header">
        <ng-container *ngIf="title">{{title}}</ng-container>
        <ng-content select="[dialogHeader]"></ng-content>
      </div>
      <div class="panel">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="cui-dialog-toolbar">
      <ng-container *ngTemplateOutlet="toolbar"></ng-container>
    </div>
  </div>
  <div class="cui-dialog-screen"></div>
  <ng-template #toolbar>
    <ng-content select="[dialog-toolbar]"></ng-content>
  </ng-template>
</ng-template>
