.shrink {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  @include transition(height .3s ease-in-out);
  .shrink-header {
    position: relative;
    display: inline-block;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    &.close {
      .shrink-close {
        @include transform(rotate(180deg));
      }
    }
  }
  .shrink-close {
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 10px;
    @include transition(transform .3s ease-in-out);
  }
  .shrink-content {
    display: inline-block;
    width: 100%;
    padding: 0 10px 10px 10px;
  }
}
