<div class="space-3"></div>
<div class="cui-col-xs32-12 cui-col-sm-10 cui-col-sm-offset-1 cui-col-lg-8 cui-col-lg-offset-2">
  <h2>公司行號筆畫的吉凶表</h2>
  <ol>
    <li>筆劃超過80，則從1開始，反覆循環。</li>
  </ol>
  <table>
    <tr>
      <th align="center" nowrap="nowrap">筆畫</th>
      <th align="center" nowrap="nowrap">五行</th>
      <th align="center" nowrap="nowrap">吉凶</th>
      <th align="center" nowrap="nowrap">義釋</th>
    </tr>
    <tr *ngFor="let fortune of fortunes">
      <td width="1%" align="center" nowrap="nowrap">{{fortune.num}}</td>
      <td width="1%" align="center" nowrap="nowrap">{{fortune.type}}</td>
      <td width="1%" align="center" nowrap="nowrap">{{fortune.luck}}</td>
      <td width="100%" nowrap="nowrap">{{fortune.content}}</td>
    </tr>
  </table>
</div>
